
@model CourseListViewModel
    



<div class="row">
    <div class="col-md-8">
        <h1>@ViewData["ViewDataTitle"]</h1>
    </div>
    <div class="col-md-4  d-flex align-items-center  " >
        <form asp-controller="Courses" asp-action="Index" method="get">
            <div class="input-group">
                <input type="text" name="search" placeholder="Cerca..." value="@Model.Input.Search">
                <div class="input-group-append">
                    <button><i class="input-group-text fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>



<!-- inserire qui ordinamento -->
<div class="row">
    <div class="col-md-1 ">@Model.Courses.TotalCount</div>
    <div class="col-md-5 "><a asp-route-orderby="Title" asp-route-ascending="@(Model.Input.OrderBy == "Title" ? !Model.Input.Ascending : true)" asp-route-search="@Model.Input.Search">Titolo @if(Model.Input.OrderBy == "Title") {<i class="fa fa-caret-@(Model.Input.Ascending ? "up" : "down")" aria-hidden="true"></i>}</a></div>
    <div class="col-md-2 "><a asp-route-orderby="Rating" asp-route-ascending="@(Model.Input.OrderBy == "Rating" ? !Model.Input.Ascending : true)" asp-route-search="@Model.Input.Search">Valutazione @if(Model.Input.OrderBy == "Rating") {<i class="fa fa-caret-@(Model.Input.Ascending ? "up" : "down")" aria-hidden="true"></i>}</a></div>
    <div class="col-md-2 "><a asp-route-orderby="CurrentPrice" asp-route-ascending="@(Model.Input.OrderBy == "CurrentPrice" ? !Model.Input.Ascending : true)" asp-route-search="@Model.Input.Search">Prezzo @if(Model.Input.OrderBy == "CurrentPrice") {<i class="fa fa-caret-@(Model.Input.Ascending ? "up" : "down")" aria-hidden="true"></i>}</a></div>
    <div class="col-md-1 "></div>
</div>


@foreach(CourseViewModel course in Model.Courses.Results)
{
<div class="row border-top border-primary">
    <div class="col-md-1 ">
        <img src="@course.LogoPath" title="@course.LogoPath" width="52">
        
    </div>
    <div class="col-md-5">
        <h2>@course.Title</h2>
        <author>di @course.Author </author>
    </div>

    <div class="col-md-2 rating" title=@course.Rating>
        
        @for(int i = 1; i <=5; i++)
        {
            if (course.Rating >= i)
            {
                <i class="fas fa-star"></i>
            }
            else if (course.Rating > i -1 )
            {
                <i class="fas fa-star-half-alt"></i>
            }
            else
            {
                <i class="far fa-star"></i>
            }

        }



    </div>
    <div class="col-md-2 price">
        @course.CurrentPriceAmount<br /><s>@course.FullPriceAmount</s>

    </div>
    <div class="col-md-1">
        <a class="btn btn-outline-info btn-sm" asp-action="Detail" asp-controller="Courses" asp-route-id="@course.Id">Dettaglio corso @course.Id</a>        
    </div>
</div>

}

@{
    // calcolo pagine: corsi totali in tabella / corsi da visualizzare (es. 32 / 10)
    int totalPages = Convert.ToInt32(Math.Ceiling(Model.Courses.TotalCount / (decimal) Model.Input.Limit));
    int currentPage = Model.Input.Page;
}

<nav aria-label="Page navigation example">
  <ul class="pagination d-flex justify-content-center mt-3 pagination-sm">

    @{

        // pagina precedente
        if (currentPage > 1)
        {
                <li class="page-item">
                    <a class="page-link" asp-route-orderby="@Model.Input.OrderBy" asp-route-ascending="@Model.Input.Ascending" asp-route-search="@Model.Input.Search" asp-route-page="@(currentPage-1)"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                </li>
        }

        // elenco pagine
        for (int i = 1; i <= totalPages; i++)
        {
            if (i == currentPage)
            {
                <li class="page-item active">
                    <a class="page-link" asp-route-orderby="@Model.Input.OrderBy" asp-route-ascending="@Model.Input.Ascending" asp-route-search="@Model.Input.Search" asp-route-page="@i" >@i <span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-route-orderby="@Model.Input.OrderBy" asp-route-ascending="@Model.Input.Ascending" asp-route-search="@Model.Input.Search" asp-route-page="@i">@i</a>
                </li>
            }               

        }

        // pagina successiva
        if (currentPage < totalPages)
        {
                <li class="page-item">
                    <a class="page-link" asp-route-page="@(currentPage+1)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </li>
        }

    }


    

    <!--  -->

        

  </ul>
</nav>


    
